.window {
  position: relative;
  width: 600px;
  height: 900px;
  /* top: 128px; */
  background: #131316;
  /* left: 51%; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

.inner_constr {
  position: relative;
  /* top: 100px; */
  /* margin-left: 15px; */
  height: 650px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 115px;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid rgba(0, 0, 0, 0);
}

.empty {
  border: 5px solid #8585ad;
  border-style: dashed;
  border-radius: 20px;
}

.inner_constr::-webkit-scrollbar {
  width: 10px;
}
.inner_constr::-webkit-scrollbar-track {
  background: #2f2f37;
}
.inner_constr::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.final_price {
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  justify-content: end;
  padding-right: 30px;
  /* z-index: 30; */
}

.total {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  font-size: 30px;
}
