body {
    display: flex;
    justify-content: center;
}
.content {
    position: relative;
    top: 128px;
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}