body {
    display: flex;
    justify-content: center;
}
.content {
    position: relative;
    top: 128px;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
}